.Mycontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product {
  margin: 20px;
}

.progress-bar {
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: aqua;
  height: 10px;
}

.progress {
  background-color: black;
  height: 10px;
}