.movieCardContainer {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 6vw;
  width: 30vh;
  border: 2px solid wheat;
  border-radius: 10px;
  padding: 10px;
}

.imgContainer {
  position: relative;
  width: 100%;
}

.heart {
  position: absolute;
  top: 0%;
  right: 0%;
  display: inline-block;
  cursor: pointer;
  background: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imgContainer:hover .heart {
  opacity: 1;
}


.imgContainer img {
  width: 100%;
  height: auto;
  display: block;
}

.title {
  margin-top: 10px;
  color: white;
}

.title::first-letter {
  text-transform: uppercase;
}

.releaseDate {
  margin-top: -17px;
  float: inline-end;
  color: white;
}